*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    :root{
        
    --primary-color: #fff;
    --secondary-color: #212121;
    --box-shadow: 1px 1px  1px 1px rgba(0, 0, 0, .5);
    --slides-color: #e2f1f9;
                 
    }
    
    .dark-theme{
        
    --primary-color: #000106;
    --secondary-color: #fff;
    --box-shadow: 1px 1px  1px 1px rgba(225, 225, 225, .5);       
    --slides-color: #000106;                   
    }
    ul{
        
    list-style-type: none;
    }


    body{
     
    background: var(--primary-color);
    }
    
    
    .logoimg{
     top: 0;
    width: 120px;
    height: 60px;
    object-fit: cover;
    background-size: cover;
    }
    
  .img{
     
  
  width: 70px;
  height: 50px;
  }
  .btn-first{
     
  display: none;
  }
      .header a{
        
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
  
  .sign.btn{
      
  color: white;
  }
  
  .menu-btn,.close-btn{
      
  display: none;
  }
  .header{
   position: fixed;
   display: flex;
   height: 65px;
  justify-content: space-between;
   background: white;
   box-shadow: var(--box-shadow);
   width: 100%;
   align-items: center;
   padding-right: 30px;
   padding-left: 10px;
   }
   
   .header input{
   width: 80px;
   height: 50px;
   border: 2px white solid;
   background: #fff;
   outline: none;
   border-radius: 5px;
   margin-bottom: 18px;
   }
   .header ul{
        
   list-style-type:  none;
   display: flex;
    }
     
   .header li{
       
   margin-left:1em;
   }
    
     .navheader ul li.btn{
          
      display: inline;
      position: absolute;
      }
     
  
   .btn{
  
   margin-left: 10px;
   background: var(--secondary-color);
   font-weight: 500;
   color: var(--primary-color);
   border: solid 2px #9037FF;
   background-color: #9037FF;
   color: #fff;
   padding: 8px;
   }
   .btn:hover{
                  
       border: solid 2px #FFA800BE;
      }
                  
  .navheader ul li:hover ul{
  
  display: block;
  position: absolute;
  top: 100px;
  align-items: center;
  } 
  
  
  .navheader ul li:hover ul ul{
        
  display: block;    
    
  }
  .navheader ul  ul li:hover ul{
  
  
  display: block;
  background-color: transparent;
  position: relative;
  margin-left: 30px;
  font-family: Times New Roman;
  top: 0;                                    
  }
  .navheader ul  ul li:hover ul a{
  
  font-weight: 400;
  color: var(--secondary-color);
  }
  
  .navheader ul  ul li:hover ul{
  
  
  margin-top:2vw;
  margin-bottom: 2vw;
  
  }
  header input{
  
  display: none;
  }
  .largeicon{
  
  height: 20px;
  width: 20px;
  margin-top: 8px;
  cursor: pointer;
  }
  
  .menu-btn{
  
  height: 30px;
  width: 30px;
  color: black;
  display: block;
  margin-left: 10px;
  cursor: pointer;
  display: none;
  }
  .close-btn{
  
  width: 20px;
  height: 20px;
  margin-left: 15%;
  display: none;
  color: black;
  }
  
  .close-btn.menu{
  
  color: black;
  }


#check{
height: 10px;
display: none;
}
.checkbox{

display: flex;
align-items: center;
justify-content: space-between;
padding: 15px;
background: transparent;
border: solid 1px #1ed2d1;
border: none;
padding: 0;
}
 #click{
     
 position: relative;
 height: 20px;
 width: 60px;
 border-radius: 28px;
 background: #e6e6e6;
 -webkit-appearance: none;
 display: block;
 box-shadow: insert 0 0 5px rgba(0, 0, 0,.2);
 padding: 0;
 margin: 0;
transition: 0.4s cubic-bezier(0.68, -0.55, 0.265,1.55);

 }
 #click:checked{
     
 background: #664AFF;
 }
 #click:before{
     
 height: 100%;
 width: 20px;
 border-radius: 40px;
 content: "";
 position: absolute;
 left: 0;
transform: scale(0.85);
 box-shadow:  0 2px 5px rgba(0, 0, 0, .2);
 transition: 0.4s cubic-bezier(0.68, -0.55, 0.265,1.55);
 background: linear-gradient(#fff, #f2f2f2, #e6e6e6 , #9d9d9d);
 }
 

   #click:checked:before{
       
   left: 40px;
   }
          
 .text-click:before{
     
 content: "";
 font-weight: 500;
 font-size: 18px;
 color: #bfbfbf;
 }
 #click:checked ~ .text-click:before{
          
      content: "";
      color: #664AFF;
      font-size: 20px;
  }



                           
   #home{
       
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 8vw;
flex-direction: column;
height: 100vh;
background: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5,4,46,0.7)), url("70.jpg");
background-size: cover;
object-fit: cover;
background-position: center;
color: white;
   }
   
 .container{ 

  margin-top: 100px;

 }
 .cont{

  margin-top: 250px;
  
 }
   .container p{
    width: 620px;
   }

   .Ec{

    width: 1000px;
    height: 700px;
    background-size: contain;
    margin: 20px 20px;
   }
  

      #subscribe input{
      
      width: 180px;
      padding: 15px 12px;
      background: #334F6c;
      color: #fff;
      border: none;
      outline: none;
      }
      
      #subscribe .subscribe{
      
      text-decoration: none;
      color: #fff;
      background: #FDC93B;
      padding: 13px 25px;
      font-size: 0.9em;
      font-weight: 600;
      border-radius: 5px;
      transition: 0.3s ease;
      border: none;
      }
      
      #subscribe .subscribe:hover{
      
      color: rgb(21,21,100);
      background: #fff;
      }
      
      .subscriber-holder{
      
      color: white;
      }
      

footer{


padding: 8vw;
padding-bottom: 2vw;
justify-content: space-between;
flex-direction: column;
align-items: flex-start;
background: #101c23;
flex-wrap: wrap;
}
  
.flex-footer{

  display: flex;
  justify-content: space-between;

}

 footer a{
                
            text-decoration: none;
            color: #fff;
            font-weight: 400;
          }
    footer h3{
    
    color: #fff;
    text-align: center;
    
    }   
    
    footer ul{
    
    margin-top: 11px;
    display: flex;
    flex-direction: column;
    } 
    
    
    
    footer a{
    
    line-height: 30px;
    
    }


.footer-col p{

    text-align: center;
    border-top: 2px solid #f3f3f3;
    margin-top: 140px;
}


      .subscriber-holder{
      
      color: white;
      }
      
      .jordan{
      
      
      margin-top: 90px;
      color: rgb(255, 252, 252);
      }
      .jordan span{
      
      color: rgb(255, 0, 0);
      }
      .footer-col ul li a{
      
      padding: 9px;
      }


             
      @media(max-width: 670px){
      
         .btn{
             
         display: block;
         }
          .menu-btn{
              
          
         display: initial; 
          }
         .navheader ul .btn{
             
         display: block;
         padding: 10px 14px;
         }
         
      
        .navheader ul{
       
       position: fixed;
        display: flex;
        height: 200vh;
        top: 0;
       right: -190px;
       width: 190px;       
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: all 0.3s ease;
         background: rgba(17, 20, 104,0.45);
         background-filter: blur(4px);              
         border-radius: 5px;
          overflow-y: scroll;
          scroll-snap-type: x mandatory;
              }
        .navheader ul li{
                  
              padding-top: 14px;
              padding-bottom: 14px;
               border-top: solid 1px #fff;
               display: block;   
               width: 100%;
               text-align: center;
                margin: 0;
              }
              
         .navheader ul li.btn{
                    
                display: inline;
                position: absolute;
                }
            
              
           .navheader ul .last-nav{
                   
               border: none;
               }
      }  
      